body {
    background-color: rgb(197, 224, 239);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}


td {
    padding: 5px 10px;
}
