body {
    background-color: rgb(197, 224, 239) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6cm;
    font-family:'Times New Roman', Times, serif;
}


th, td {
    text-align: left;
    padding: 5px 15px;  
    width: 150px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;  
}